pantalla -juegos/Prueba-jueg-prop/index.html
tetrix/jugar/watch.sh
tetrix/jugar/tis.min.js
tetrix/jugar/tis.js
tetrix/jugar/style.css
tetrix/jugar/README.md
tetrix/jugar/index.html
Prueba-jueg-prop/imagen/fondoparabreack.jpeg
Prueba-jueg-prop/imagen/fondo para breack.jpeg
Prueba-jueg-prop/style.css
Prueba-jueg-prop/index.html
Prueba-jueg-prop/imagen/fondobreack.jpeg
