div.filled{
    width: 200px;
    height: 200px;
    background-color: 0000ff;
    margin: 0px;
    }
    
div#div1{
    float:left;
    height:600px;
    }
    
div#div2{
    float:left;
    width:200px;
    }
    
div.tile:hover > .filled{
    background-color: #0082ff;
    }   